<% @book.each do |book| %>
<table class="table tabl-striped">
<h2>Books</h2>
<tr>
  <td>
  <%= attachment_image_tag book.user, :profile_image, fallback: "no_image.jpg" %>
  </td>
  <td>
  <h4>Title</h4>
  <%= link_to  book_path(book)  %>
  </td>
  <td>
  <h4>Opinion</h4>
  <p><%= book.body %></p>
  </td>
  <% end %>
</tr>
<table class="table tabl-striped">
