<h1>welcome to Bookers!!</h1>
<p>in Bookers </br>
   you van share and exchange your opinions, inpressions, and emotions</br>
   adout various books!</p>
<%= link_to "sign_up", new_user_registration_path %>
<%= link_to "login", new_user_session_path %>