// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.from-control {
  display:block;
}
table{
  width:100%;
}
div{
  display:block;
}
.from-group{
  margin-bottom:20px;
}